name: Push Workflow
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Display message
        run: echo "First Work Flow"
      - name: Run build in a subdirectory
        uses: gradle/actions/setup-gradle@v3
        with:
          build-root-directory: user-micro-service
          arguments: 'build'